<div class="filter">
  <h5 class="open-filter">>> FILTER TOGGLE <<</h5>
  <div class="filter-bar" id="filter">
    <i class="fa-solid fa-angle-up close-filter"></i>
    <form id="filter-form">
      <h5>Search</h5>
      <input type="text" name="search" id="search" placeholder="Search...">

      <h5>Price</h5>
      <span><input type="number" name="minprice" id="minprice" class="price" placeholder="Min.">
         - 
        <input type="number" name="maxprice" id="maxprice" class="price" placeholder="Max."></span>

      <h5>Category</h5>
      <select name="category" id="category-selector">
        <option value> </option>
        <option value="bed">Bed</option>
        <option value="bath">Bath</option>
        <option value="kitchen">Kitchen</option>
        <option value="living">Living</option>
        <option value="office">Office</option>
        <option value="patio">Patio</option>
        <option value="misc">Misc</option>
      </select>

      <h5>Condition</h5>
      <select name="condition" id="condition">
        <option value> </option>
        <option value="New">New</option>
        <option value="Used - Like New">Like New</option>
        <option value="Used - Good">Good</option>
        <option value="Used - Fair">Fair</option>
      </select>

      <h5>City</h5>
      <input type="text" name="city" id="city" placeholder="Enter city">

      <span class="form-buttons"><button type="submit" class="nav-button filter-button">Apply</button><button class="nav-button reset-button">Reset</button></span>
    </form>

  </div>
</div>