<header>
  <nav>
    <span class="logo"><a class="nav-text" href="/">Store</a></span>
    <div class="right-side-nav">
      <button id="categories" class="login nav-item">Categories</button>
      <% if (user) { %>
        <a class="nav-text nav-item" href='/favourites'>Favourites</a>
        <a class="nav-text nav-item" href='/items'>My Items</a>
        <a class="nav-text nav-item" href="/messages">Messages</a>
        <a class="nav-text nav-item" href="/transactions">Order History</a>
        <form method="POST" action="/logout"><button class="login nav-item">Logout</button></form>
      <% } else { %>
        <form method="POST" action="/login"><button class="login nav-item">Login</button></form>
      <% } %>
      <button class="nav-button nav-item">Post Ad</button>
    </div>
  </nav>
  <div id="category-dropdown">
    <button class="dropdown-button">Bed</button>
    <button class="dropdown-button">Bath</button>
    <button class="dropdown-button">Kitchen</button>
    <button class="dropdown-button">Living</button>
    <button class="dropdown-button">Office</button>
    <button class="dropdown-button">Patio</button>
    <button class="dropdown-button">Misc</button>
  </div>
</header>