<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Messages</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/messages.css" />
  <link rel="stylesheet" href="/styles/compose-message.css" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>

    <h2>Message History</h2>

    <div id="container">

      <figure class="message-container">
        <div class="item-picture">ad picture</div>
        <div class="transaction-comms">
          <div class="contact-container">
            <div class="user-name">Seller Name</div>
            <button id="reply-button"">reply</button>
          </div>
          <dialogue>message preview</dialogue>
        </div>
      </figure>

      <figure class="message-container">
        <div class="item-picture">ad picture</div>
        <div class="transaction-comms">
          <div class="contact-container">
            <div class="user-name">Seller Name</div>
            <button class="reply-button">reply</button>
          </div>
          <dialogue>message preview</dialogue>
        </div>
      </figure>

      <figure class="message-container">
        <div class="item-picture">ad picture</div>
        <div class="transaction-comms">
          <div class="contact-container">
            <div class="user-name">Seller Name</div>
            <button class="reply-button">reply</button>
          </div>
          <dialogue>message preview</dialogue>
        </div>
      </figure>

      <figure class="message-container">
        <div class="item-picture">ad picture</div>
        <div class="transaction-comms">
          <div class="contact-container">
            <div class="user-name">Seller Name</div>
            <button class="reply-button">reply</button>
          </div>
          <dialogue>message preview</dialogue>
        </div>
      </figure>

    </div>

  </main>
</body>

</html>
