#return-to-inbox {
  margin: 9em 0em 0em 16em;
  height: 3em;
  width: 10%;
  border: 7px;
  border-radius: 3em;
  font-size: smaller;
}

.compose-message {
  display: flex;
  flex-direction: column;
  margin: 2em 13em 2em 13em;
  padding: 1em;

  #ad-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ad-display {
      .item-picture {
        color: white;
        height: 125px;
        width: 125px;
        background-color: dimgrey;
      }

      .item-price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        font-size: larger;
        height: 50px;
        color: #c0c0c0;
        background-color: black;
      }
    }

    .ad-title {
      width: 85%;
      display: flex;
      font-size: xx-large;
      margin-left: 1em;
    }
  }

  #message-history {
    flex-direction: column;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(180deg);
    direction: rtl;
    text-align: left;
    font-weight: 100;
    font-size: large;
    margin: 1em 0em 1em 0em;
    padding-top: 1em;
    background-color:white;
    border-top: 2em;
    border-bottom: 2em;
    border-color: black;
    border-style: inset;
  }

  .received {
    transform: rotate(180deg);
    padding: 1.5em;
    margin: 1em 1em 1em 25em;
    border-radius: 2em;
    background-color: black;
    color: white;
  }

  .sent {
    transform: rotate(180deg);
    padding: 1.5em;
    margin: 0em 25em 1em 1em;
    border-radius: 2em;
    background-color: 	#808080;
    color: white;
  }

  .reply {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    input {
      width: 90%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
      overflow: auto;
      border-style: solid;
      border-color: black;
      background-color: black;
      color: white;
    }

    #send-button {
      align-self: end;
      box-sizing:border-box;
      margin: 0em 0em 0em 2em;
      height: 3em;
      width: 10%;
      border: 7px;
      border-style: solid;
      border-color: black;
    }
  }
}

#return-to-inbox:hover {
  background-color: #808080;
  color: #FFF;
}

#send-button:hover {
  background-color: #808080;
  color: #FFF;
}

