#return-to-inbox {
  position: fixed;
  bottom: 225px;
  right: 17vw;
  height: 75px;
  width: 75px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

#recipient-information {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1em;
  .recipient-name {
    display: flex;
    justify-content: end;
    margin-right: 150px;
    font-size: x-large;
    font-weight: 600;
    margin-left: 2em;
  }
}


#message-history {
  flex-direction: column;
  height: 600px;
  width: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
  font-weight: 100;
  font-size: large;
  margin: 1em 0em 1em 0em;
  padding-top: 1em;
  background-color: white;
  border-top: 5px;
  border-bottom: 5px;
  border-color:  #404040;
  border-style: inset;
}
.received-date {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  margin: 0em 1em 1em 15em;
}
.received {
  margin: 1em 1em 0em 15em;
  background-color: whitesmoke;
  padding: 1.5em;
  border-radius: 2em;
  box-shadow: 10px 3px 0px #404040;
  border-bottom: none;
  }

  .sent-date {
    display: flex;
    justify-content: flex-start;
  font-size: smaller;
    margin: 0em 1em 1em 1em;
  }
  .sent {
  margin: 0em 15em 0em 1em;
  background-color: whitesmoke;
  padding: 1.5em;
  border-radius: 2em;
  border-bottom: none;
  box-shadow: -10px 3px 0px #808080;
}


.reply {
  display: flex;
  justify-content: space-between;
  #new-message {
    display: flex;
    width: 85%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: solid;
    border-color: #c0c0c0;
    border-radius: 5px;
  }

  #send-button {
    align-self: end;
    box-sizing: border-box;
    margin: 0px 15px 10px 0px;
    height: 3em;
    width: 10%;
    border: 1px;
    // border-style: solid;
    border-radius: 25px;
    cursor: pointer;
  }
}

#return-to-inbox:hover {
  background-color: #808080;
  color: #FFF;
}

#send-button:hover {
  color: #FFF;
  background-color: #808080;
}
