.filter-bar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #202020;
  z-index: 100;
  position: fixed;
  left: 50px;
  top: 160px;
  width: 220px;
  padding: 1em 1em;
  color: white;
  box-shadow: 5px 5px #000;
  font-family: 'Poppins', sans-serif;

}

select {
  width: 195px;
}

.filter-bar h5 {
  margin-top: 1em;
  margin-bottom: 0em;
}

.price {
  max-width: 85px;
}

#city {
  max-width: 195px;
}

.filter-button {
  margin-top: 1em;
  max-width: 165px;
  justify-content: center;
}

.filter {
  z-index: 9999;
  position: fixed;
  left: 50px;
  top: 120px;
}

.close-filter {
  transition: color 0.3s ease-in-out;
}

.close-filter:hover {
  color: #808080;
  cursor: pointer;
}

.open-filter:hover {
  cursor: pointer;
  text-decoration: underline;
}