.item-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 2em 23vw;
}

.item-div {
  width: 13vw;
  margin-top: 1em;
  background-color: #000000;
  transition: transform 0.3s ease-in-out;
}

.item-div:hover {
  transform: scale(1.02);
}

.image-thumb {  
  width: 13vw;
  height: 11vw;
  object-fit: cover;
}

.item-info {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 0em 1em;
  color: white;
}

.item-info h3 {
  color: #c0c0c0;
}

.item-title {
  width: 9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-link {
  text-decoration: none;
}

.load-more {
  display: none;
  justify-content: center;
  margin-bottom: 2em;
}

.load-button {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.load-button:hover {
  background-color: #404040;
  color: #fff;
}

.to-top {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 125px;
  right: 17vw;
}
.top {
  height: 75px;
  width: 75px;
  background-color: #000;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;
}

.top p {
  color: white;
  font-weight: bolder;

}