main {
  margin-top: 100px;
  padding: 2em 23vw;

  .inbox-container {
    .message-container {
      border: 1px;
      border-bottom-style: solid;
      padding-top: 2em;

      .contact-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 600;
        font-size: large;

        .user-name {
          font-size: x-large;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        // .email {
        //   .phone-number {
        //     .address {}
        //   }
        // }
      }
    }
  }

  .response {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    .message {
      background-color: #FFFF;
      font-size: larger;
      font-weight: 300;
      width: 80%;
      height: 4em;
      overflow-y: auto;
      overflow-x: hidden;
      padding: .5em 2em .5em 1.5em;
      border-radius: 10px;
      border-style: solid;
      border-color: #c0c0c0;
      box-shadow: 5px 5px 5px grey;
    }

    form {
      #reply-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        font-size: 1.2em;
        height: 75px;
        width: 75px;
        background-color: #000;
        border-radius: 50%;
        cursor: pointer;
        color: white;
      }
    }
  }
}

#reply-button:hover {
  background-color: #808080;
  color: #FFF;
}
