main {
  margin-top: 100px;
  padding: 2em 23vw;
  h2 {
    font-weight: 300;
  }

  .inbox-container {
    .message-container {
      border: 1px;
      border-bottom-style: solid;
      padding: 2em 0em 2em 0em;

      .user-name {
        font-weight: 300;
        font-size: x-large;
  padding-left: 10px;

      }
    }
  }

  .response {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

    .message {
      background-color: #FFFF;
      font-size: larger;
      font-weight: 300;
      width: 85%;
      height: 4em;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 20px;
      border-radius: 10px;
      border-style: solid;
      border-color: #c0c0c0;
      box-shadow: 2px 2px 2px grey;
    }

    form {
      #reply-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        font-size: 1.2em;
        height: 75px;
        width: 75px;
        background-color: #000;
        border-radius: 50%;
        cursor: pointer;
        color: white;
      }
    }
  }
}

.date {
  padding-left: 20px;
  font-size: small;
  font-weight:600;
}


#reply-button:hover {
  background-color: #808080;
  color: #FFF;
}
