.item-thumb {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

.page-label h1 {
  margin-bottom: 0;
}

thead th:nth-child(2) {
  width: 50%;
}

td {
  text-align: center;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}

.btn {
  border: none;
  background-color: #202020;
  color: white;
}

#sold:checked {
  background-color: #202020;
  color: white;
  accent-color: #202020;
}

table {
  min-width: 100%;
}