body {
  background-color: black;
}

form {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 50vw;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid white
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid white
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid white
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid white
}
