main {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 3em;
  margin-bottom: 100px;
  height: 100%;

  #new-item-form {
    align-items: center;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 50vw;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid black
  }

  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid black
  }

  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  button {
    background-color: white;
    border: 2px solid black;
    color: black;
    margin-top: 1em;
    margin-right: 1em;
    padding: 14px 28px;
  }

  button:hover {
    background-color: #808080;
    color: white;
  }
}

